@font-face {
  font-family: "strasu";
  src: url(/font/strasua-webfont.woff2) format("woff2"),
    url(/font/strasua-webfont.woff) format("woff");
}
@font-face {
  font-family: "aAtmospheric";
  src: url(/font/aAtmospheric.otf);
}
@font-face {
  font-family: "aAtmospheric";
  src: url(/font/N);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  /* font-size: 2.2rem; */
  overflow-x: hidden;
  font-family: sans-serif;
  transition: all 0.3s;
  background-image: url("images/spiral.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /* animation: rotate 10s linear infinite; */
  /* background-position: center; */
}

@media screen and (max-width: 800px) {
  body {
    background-size: 150vw;
    background-repeat: no-repeat;
    background-position-x: center;
  }
}

/* --navbar--- */

/* navbar */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3vw;
  background: linear-gradient(180deg, #17202aad 37.86%, rgba(0, 0, 0, 0) 100%);
  z-index: 99;
}

.navbar:nth-last-child() {
  background: linear-gradient(0deg, #17202aad 37.86%, rgba(0, 0, 0, 0) 100%);
}

.main-navbar {
  margin-top: 2vw;
  margin-right: 2vw;
  gap: 2vw;
  display: flex;
  gap: 40px;
}

.main-navbar a:link,
.main-navbar a :visited {
  transition: all 0.3s ease-in-out;
}

.main-navbar a:hover,
.main-navbar a:active {
  scale: 1.1;
}

.nav_btn_img {
  height: 4rem;
  width: auto;
}

/* .nav_btn_img_middle {
  transform: scale(1.2);
} */
.solution-name {
  margin: auto 3vw;
}
.solutions-logo {
  margin-top: 2vw;
  margin-left: 2vw;
  height: 2.5vw;
}
.event-team {
  height: 2.4vw;
}

.main-body {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  justify-items: center;
  margin-top: 5vw;
}

.hamburger-button {
  display: none;
  position: relative;
  height: 0.5rem;
  width: 4rem;
  background-color: #5ca7cc;
  align-self: center;
  margin-right: 10px;
  border-radius: 100px;
}

.hamburger-button::before {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 4rem;
  background-color: #5ca7cc;
  top: -10px;
  left: 0px;
}

.hamburger-button::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 4rem;
  background-color: #5ca7cc;
  top: 10px;
  left: 0px;
}

.sidemenu {
  display: none;
  position: absolute;
  top: 3.5rem;
  right: 0rem;
  height: max-content;
  width: max-content;
}

.menu {
  width: 100%;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-us_content {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

.ham {
  background: linear-gradient(#141c1d83 37.86%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 1000px) {
  .hamburger-button {
    display: block;
  }
  .main-navbar {
    display: none;
  }
  .solutions-logo {
    margin-top: 2vw;
    margin-left: 2vw;
    height: 40px;
  }
}

/* navabar complete */

/* ---navbar end--- */

.header {
  /* height: max(100vh, 90rem); */
  padding-top: 0rem;
}

.container {
  /* margin: 0 3vw 0; */
  padding: 0 1.2rem 0;
  background-color: #17202a65;
  height: 100%;
  width: 100%;
}

.container-hero {
  height: max(100vh, 620px);
}

.hero-section {
  margin-top: 10.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 50px auto;
}
.date-home {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.date-home span {
  margin: auto 20px;
  flex-wrap: nowrap;
  text-wrap: nowrap;
}
.upper_hero_zigzag {
  position: relative;
  /* width: 50px; */
}
.upper_hero_zigzag::after {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  left: -35px;
  top: -130px;
  /* background-image: url(images/hero_arrow.svg); */
  background-size: contain;
  background-repeat: no-repeat;
}
.hero_zigzag {
  position: relative;
  /* width: 50px; */
}
.hero_zigzag::before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  right: -35px;
  bottom: -130px;
  /* background-image: url(images/zig_zag.svg); */
  background-size: contain;
  background-repeat: no-repeat;
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(31, 43, 42, 0.51); */
  /* width: 24px */
  margin-top: 90px;
  /* margin-bottom: 0px; */
}

.scroll img {
  /* position: absolute; */
  top: 0;
  animation: scrollUpDown 1s infinite alternate; /* Change the animation duration as needed */
}

@keyframes scrollUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@media (max-width: 700px) {
  .hero_zigzag::before {
    height: 30px;
    width: 30px;
    right: -9px;
    bottom: -85px;
  }
  .upper_hero_zigzag::after {
    height: 30px;
    width: 30px;
    left: -9px;
    top: -80px;
  }
}
.hero-section img {
  max-width: 100vw;
}

.ait-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 19rem;
  gap: 2rem;
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-family: "aAtmospheric";
  color: #aeaeae;
}
.K24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 19rem; */
  gap: 2rem;
  font-size: 2.5rem;
  /* margin-bottom: 15px; */
  font-family: "aAtmospheric";
  /* color: #aeaeae; */
}

.ait-name :first-child {
  font-weight: 400;
}

#t_b {
  font-weight: 500;
  letter-spacing: 0.1em;
}

.about_container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  

}

.about-us-headding {
  align-items: center;
}

.about-us-headding img {
  height: 4rem;
  transform: translateY(20%);
}

.about-us-headding span {
  font-size: 4rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-left: 10rem;
  font-family: "strasu", sans-serif;
}

.about-us-content {
  margin-top: 10rem;
  font-size: 1.8rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.about-us-video {
  /* position: relative; */
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

/* .about-us-video img {
  height: 50.5rem;
  scale: 1.2;
} */

.about-us-video iframe {
  /* display: none; */
  /* position: absolute; */
  justify-self: center;
  width: 100%;
  height: 100%;
  /* top: 50%;
  left: 50%;
  transform: translate(-45%, -60%); */
}

.discord-img {
  margin-top: 13rem;
  padding-bottom: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
  transform-style: preserve-3d; /* Ensure child elements maintain 3D positioning */
  transform: perspective(1000px);
}

.discord-img img {
  max-width: 100%;
  /* transition: all 0.3s ease-in-out; */
}
.inner-element {
  transform: translateZ(20px);
}

/* -----------Event Grid-------- */

.container-events {
  padding-top: 60px;
}

.event_grid {
  margin-top: 10rem;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.event_grid img {
  width: 340px;
  transition: all 0.3s ease-in-out;
}

.event_grid img:hover {
  scale: 1.1;
  cursor: pointer;
}

/* ---Highlights---- */
.highlights {
  background: rgba(29, 67, 61, 0.3);
}
.highlights_headding {
  padding-top: 5rem;
}
.highlights_grid {
  width: 1064px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 3rem;
  margin: 6rem auto 8rem;
  row-gap: 7rem;
  font-family: "Poppins", sans-serif;
}
.highlight_image {
  width: 400px;
  height: 40 0px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}
.highlight_disc {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 2rem;
  line-height: 1.4;
}
.highlight_disc span {
  font-size: 3rem;
  font-weight: 500;
  background: linear-gradient(92.8deg, #65cfb4 7.43%, #5ca8cc 99.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.highlight_disc p {
  font-size: 1.8rem;
  font-weight: 300;
}
.vijay_img {
  justify-self: start;
}

.bike_img {
  justify-self: end;
}
@media (max-width: 1200px) {
  .highlight_image {
    width: 350px;
    height: auto;
  }
  .highlights_grid {
    width: auto;
  }
}
@media (max-width: 1000px) {
  .highlight_image {
    width: 310px;
    height: auto;
  }
  .highlight_disc p {
    font-size: 1.6rem;
  }
}
@media (max-width: 700px) {
  .highlights_grid {
    grid-template-columns: 1fr;
    margin: 5rem 10vw 8rem;
  }
  .highlight_image {
    width: 300px;
    /* height: 150px; */
  }
  .highlights_grid :last-child {
    grid-row: 3;
  }
  .highlight_disc p {
    font-size: 15px;
  }
  .vijay_img {
    justify-self: center;
  }
  .bike_img {
    justify-self: center;
  }
}
/* ---Highlights end---- */

/* ---------FOOTER-------------- */

.container-footer {
  /* background-image: url("./images/grid.png"); */
  background: linear-gradient(180deg, #17202aad 37.86%, rgba(0, 0, 0, 0) 100%);
  background-size: 100% 100%;
  padding-bottom: 4rem;
  width: 100%;
  padding-top: 3rem;
}

.footer {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.footer-ele {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer p {
  font-size: 2rem;
}

.footer a {
  color: #5ca7cc;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: underline;
}

.follow-us-on-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.follow-us-on-items img {
  height: 4rem;
}

/* ------------absolutes---------- */

.hero-section::before {
  position: absolute;
  /* top: 1vw; */
  content: "";
  height: 1500px;
  width: 1500px;
  /* background-image: url(images/spiral.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  z-index: -99;
}

/* ----other media quaries----- */

@media (max-width: 1000px) {
  .about-us-content {
    grid-template-columns: 1fr;
  }
  .about-us-video {
    margin-top: 50px;
    height: 350px;
  }
  .JoinDis span {
    font-size: 3rem;
  }
  .event_grid img {
    width: 250px;
  }
  .hero-section img {
    max-width: 70%;
  }
  .hero-left-lines,
  .hero-right-lines {
    display: none;
  }
  .rect {
    display: none;
  }
}

@media (max-width: 700px) {
  /* .about-us-content {
    grid-template-columns: 1fr;
  }
  .about-us-video {
    margin-top: 50px;
    height: 350px;
  }
  .JoinDis span {
    font-size: 3rem;
  }
  .event_grid img {
    width: 250px;
  }
  .hero-section img {
    max-width: 70%;
  } */
  .hero-section img {
    max-width: 90%;
  }
  .hero-section::before {
    height: 200px;
    width: 200px;
  }
  .hero-section::after {
    height: 30px;
    width: 30px;
    top: 6.2%;
    left: 8%;
  }
  .ait-name {
    font-size: 2rem;
  }
  .event_grid {
    grid-template-columns: 1fr;
  }
  .empty_space {
    display: none;
  }
  .event_grid img {
    width: 200px;
    margin-bottom: 40px;
  }
  .about-us-content {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .about-us-content p {
    font-size: 15px;
    line-height: 1.5;
  }
  .about-us-headding {
    text-align: center;
    padding-top: 2rem;
  }
  .about-us-headding span {
    margin: 0 auto 0;
    font-size: 3rem;
  }
  .about-us-headding img {
    height: 3rem;
  }
  .JoinDis span {
    font-size: 2rem;
    margin-left: 0;
  }
  .JoinDis img {
    height: 2rem;
  }
  .discord-img {
    margin-top: 4rem;
    padding: 0 4rem 0;
    /* width: 70%; */
  }
  .container-events {
    padding-top: 100px;
  }
  .event_grid {
    margin-top: 50px;
  }
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3rem;
    padding-top: 15rem;
    padding-bottom: 1rem;
  }
  .get-to-know-us {
    grid-column: 1/3;
  }
  .site-map {
    grid-column: 3/5;
  }
  .follow-us-on {
    text-align: center;
    grid-column: 1/5;
    width: 100%;
    margin-bottom: 1rem;
  }
  .follow-us-on-items {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .container-footer {
    padding-bottom: 2rem;
  }
  .about-us-video {
    width: 100%;
    height: 90%;
  }
}
/* --------end--------- */
::-webkit-scrollbar {
  height: 2px;
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #2f4b4a;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(101, 207, 181, 0.516);
}
/* ----particle js----- */
#particles-js {
  position: absolute;
  width: 100%;
  height: max(100vh, 620px);
  top: 0;
  z-index: -99;
}
/* --------- */
.chu {
  position: relative;
}
.cha {
  position: absolute;
  left: -20%;
  height: 105%;
  width: 150%;
  top: 0;
  background: rgba(29, 67, 61, 0.3);
  z-index: -99;
}
.events {
  overflow-x: hidden;
}
#time_kushal {
  font-size: 2.1rem;
}

/* extra intersection observer */
.about-us-content {
  opacity: 0;
  transition: opacity 1s, transform 2s;
}

.about-us-content.visible {
  opacity: 1;
  transform: translateY(-50px);
}
.about-us-headdingJoinDis {
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.about-us-headdingJoinDis .visible {
  opacity: 1;
  transform: translateX(40px);
}

.event_grid {
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.event_grid.visible {
  opacity: 1;
  transform: translateY(-40px);
}

.frame{
  position: absolute;
  height: 50vw;
  width: 100vw;
}
.img-container{
  padding: 47px;
    background: #063252;
    border-radius: 50px;
    box-shadow: 0 0 200px #27374D
}

/* footer */

.footer{
  
  border-radius: 25px;
  margin: auto;
  background: rgba(156, 178, 191, 0.11);
  
  /* opacity: 20%; */
}

.img-foot{
  width: 92%;
  margin: auto;
  background-image: url("./images/grid.png");
  
}

@media screen and (max-width: 600px) {
  .img-container{
    padding: 20px;
  }
}